/*Selectores descendientes*/
.mainTitle{
    font-size: 20px;
    font-weight: bold;
}
#globalNav .mainTitle {
    color: blueviolet;
}
.contenedor .mainTitle{
    color: blue;
}
footer h2{
    color: green;
}
/*Selectores hijos*/
footer > p{
    background-color: lightpink;
}
/*Cambiar el color del developer*/
footer > p > span{
    color: rgb(9, 80, 56);
}
/*Selector de hermanos subsiguientes ~*/
footer h2 ~ p{
    color: blue;
    text-decoration: underline;
}
/*Slector de hermanos adjacentes*/
.developer{
    font-family: Courier, monospace;
    font-size: 20px;
}
footer .developer + p{
    background-color: lightskyblue;
}
.contenedor form button{
    background-color: blue;
    color: white;
}
/*Selectores de atributo simple*/
input[type]{
    border-bottom:yellow 2px dotted ;
    border-top: 4px solid red;
}
/*Selector de atributo con valor*/
.contenedor input[type="password"]{
    border-left:crimson 2px dashed ;
    border-right: 2px orange solid;
}
/*Selectores con valor al final*/
/*enlaces con dominios .org*/
a[href$=".org"]{
    color: peru;
}
a[href^="aprendices"]{
    color: pink;
}
