.pregunta1{
    background-color: aqua;
}
.pregunta2{
    background-color: bisque;
}
.pregunta3{
    color: blue;
}
.pregunta6{
    background-color: cornflowerblue;
}
.pregunta7{
    background-color: darkgray;
}
.pregunta8{
    background-color: darkturquoise;
}